<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="modulelesson11" frontName="modulelesson11">
            <module name="AKisilenko_ModuleLesson11"/>
        </route>
    </router>
</config>