<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="AKisilenko\ModuleLesson6\Model\ResourceModel\AskQuestion\Collection">
        <plugin name="akisilenko_modulelesson6"
                    type="AKisilenko\ModuleLesson6\Plugin\Catalog\Model\ResourceModel\Product\Collection"
        />
    </type>
</config>