<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="ask_question" translate="label" sortOrder="10">
            <label>Ask Question</label>
        </tab>
        <section id="ask_question_options" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Ask Question Settings</label>
            <tab>ask_question</tab>
            <resource>AKisilenko_ModuleLesson6::cron_job_management</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
            </group>

            <group id="cron" translate="label" type="text" sortOrder="17" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Cron Configuration</label>
                <field id="enable_cron" translate="label" type="select" sortOrder="18" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable auto confirming</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="frequency" translate="label" type="text" sortOrder="19" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Set Frequency</label>
                    <comment>Specify the number of days to change the status of the product</comment>
                    <depends>
                        <field id="enable_cron">1</field>
                    </depends>
                </field>
            </group>



            <group id="test" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Test</label>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="21" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Payment From Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                </field>
                <field id="select" translate="label" type="select" sortOrder="22" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Select</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="text" translate="label" type="text" sortOrder="23" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Text</label>
                </field>
            </group>

            <group id="additional" translate="label" type="text" sortOrder="24" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Additional</label>
                <field id="emails" translate="label" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Additional Emails</label>
                    <frontend_model>AKisilenko\ModuleLesson6\Block\Adminhtml\Form\Field\DynamicItems</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>

            <group id="email_status" translate="label" type="text" sortOrder="26" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Email Status</label>

                <field id="choose_email_status" translate="label" type="select" sortOrder="27" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Choose Email Status</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>

            </group>

        </section>
    </system>
</config>