    @font-family-name__base: 'Gotham Regular';
    @font-family__base: @font-family-name__base;

    @button-primary__background: @mycolor-pink;
    @button-primary__border: 1px solid @bdcolor-dark-blue;
    @button-primary__color: @color-white;