<?xml version="1.0"?>
<!--
/**
 * Copyright © 2019 Mageside. All rights reserved.
 * See MS-LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <ask_question>
            <email_status>
                <choose_email_status>1</choose_email_status>
                <module_name>Email Status</module_name>
            </email_status>
        </ask_question>
    </default>
</config>
