<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="AKisilenko\ModuleLesson6\Model\ResourceModel\Ask\Grid\CollectionVirtual"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">ask_question</argument>
            <argument name="resourceModel" xsi:type="string">AKisilenko\ModuleLesson6\Model\ResourceModel\AskQuestion</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="ask_question_listing_data_source" xsi:type="string">AKisilenko\ModuleLesson6\Model\ResourceModel\Ask\Grid\CollectionVirtual</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="product_quantity_update" xsi:type="object">
                    AKisilenko\ModuleLesson6\Console\Command\ProductQuantityUpdate
                </item>
            </argument>
        </arguments>
    </type>
    <preference for="AKisilenko\ModuleLesson6\Api\Data\AskQuestionSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults" />
    <preference for="AKisilenko\ModuleLesson6\Api\Data\AskQuestionInterface"
                type="AKisilenko\ModuleLesson6\Model\AskQuestion" />
    <preference for="AKisilenko\ModuleLesson6\Api\AskQuestionRepositoryInterface"
                type="AKisilenko\ModuleLesson6\Model\AskQuestionRepository" />
</config>